#stage {
  width: 500px;
  height: 300px;
  background-color: gray;
  position: relative;
  background-image: url(img/bg/preview.jpg);
  overflow:hidden;
  border:5px solid #E9C527;

}

.orc {
  position: absolute;
  width: 48px;
  height: 64px;
  background-image: url(img/troll-darkgreen.png);
  background-position: -48px -64px;
  transition: left 0.04s, top 0.04s;
  transform:translate(-50%,-50%);
}
