#stage {
  width: 500px;
  height: 300px;
  background-color: gray;
  position: relative;
  background-image:
  url(img/preview.jpg);
}

.orc {
  position: absolute;
  width: 48px;
  height: 64px;
  background-image: url(img/troll-darkgreen.png);
  background-position: -48px -64px;
  transition: left 0.04s, top 0.04s;
}
